@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1>Welcome to My Salon</h1>
    <p>Professional hair, beauty & spa services</p>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <h4>Haircut</h4>
        <p>Trendy styles by expert stylists</p>
    </div>
    <div class="col-md-4">
        <h4>Facial</h4>
        <p>Glow with our premium facials</p>
    </div>
    <div class="col-md-4">
        <h4>Spa</h4>
        <p>Relax & rejuvenate your body</p>
    </div>
</div>
